html, body{
margin: 0;
}

*{
font-family: helvetica;
}

.cell {
width: 92%;
background: white;
margin-bottom: 30px;
padding:4%;
text-align: center;
border-top: solid #333333 3px;
border-bottom: solid #333333 3px;
}
